.progressmodal {
    background-color: rgba(135, 200, 127, 0.822);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.progressmodal.open {
    display: block;
 }
 
 .progressmodal .position-center {
     position: fixed;
     /* background-color: #fff; */
     width: 175px;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 .progressmodal .position-center i {
     font-size: 150px;
 }